<section class="col-sm-8 justify-content-center text-center mb-4">
{{#each posts as |blogpost|}}
<section class="row">
  <section class="card m-2 localCard">
    <section class="card-body">
      <h5 class="text-center card-title">{{blogpost.post_title}}</h5>
      <h6 class= "text-center card-subtitle mb-2 text-muted">Written by: {{user.username}}</h6>
      <h6 class="text-center card-subtitle mb-2 text-muted">{{format_date blogpost.date_created}}</h6>
        <p class = "card-text">{{blogpost.content}}</p>
    </section>
    <a href="/edit/{{blogpost.id}}" class="text-muted">Edit or Delete post -></a>
  </section>
</section>
{{/each}}

<section class="row justify-content-center text-center mt-4">
<button id= "newPost" class="btn btn-dark localBtn btn-lg mb-3">Create New Post</button>

</section>
</section>
<script src="/js/dashboard.js"></script>
